In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import time
import torch
import torch.nn as nn
import torch.optim as optim
import torch.optim.lr_scheduler as sched
from torch.utils.data import DataLoader
import wandb
import pandas as pd

from dawgz import job, schedule
from itertools import islice, starmap
from pathlib import Path
from torch import Tensor
from tqdm import tqdm

os.environ['pRT_input_data_path'] = os.path.join('/home/mvasist/pRT/input_data_v2.4.9/input_data')
from petitRADTRANS.retrieval.util import *
import petitRADTRANS as prt

from lampe.data import H5Dataset, IterableDataset, JointLoader
from lampe.inference import NPE, NPELoss
from lampe.nn import ResMLP
from lampe.nn.flows import NAF
from lampe.utils import GDStep
from zuko.distributions import BoxUniform
from lampe.plots import nice_rc, corner , mark_point

import sys
sys.path.insert(0, '/home/mvasist/WISEJ1738/sbi') #WISEJ1738/sbi
from ees import Simulator, emission_spectrum

from petitRADTRANS import nat_cst as nc, Radtrans
# from petitRADTRANS.retrieval.rebin_give_width import rebin_give_width
from petitRADTRANS.retrieval.data import Data

In [2]:
from astropy.io import fits
from astropy.table import Table

In [3]:
path = Path('reprocessed231123/fits')

In [18]:
l = 'Level3_'
x = '_x1d'
tbpd = pd.DataFrame()
a = ['1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C']
k = 0 

for i, ch in enumerate(['ch1', 'ch2', 'ch3']):
    for j, length in enumerate(['short', 'medium', 'long']):
        pp = l + ch + '-' + length + x 
        hdul = fits.open(path / (pp + '.fits'))
        asn_table = Table(hdul[1].data)
        ppdd = pd.DataFrame(np.array(asn_table))
        df = pd.DataFrame({'Band': [str(a[int(k)])]*len(asn_table)})
        ppdd = pd.concat([ppdd, df], axis=1)
        tbpd = pd.concat([tbpd, ppdd], ignore_index=True)
        k+=1
        print(k)
        hdul.close()

1
2
3
4
5
6
7
8
9

In [19]:
tbpd

,WAVELENGTH,FLUX,FLUX_ERROR,FLUX_VAR_POISSON,FLUX_VAR_RNOISE,FLUX_VAR_FLAT,SURF_BRIGHT,SB_ERROR,SB_VAR_POISSON,SB_VAR_RNOISE,SB_VAR_FLAT,DQ,BACKGROUND,BKGD_ERROR,BKGD_VAR_POISSON,BKGD_VAR_RNOISE,BKGD_VAR_FLAT,NPIXELS,Band
0,4.90040,0.000198,0.000008,0.0,0.0,0.0,37.341492,1.475725,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,13.34,1A
1,4.90120,0.000271,0.000008,0.0,0.0,0.0,51.172551,1.437193,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,13.35,1A
2,4.90200,0.000269,0.000009,0.0,0.0,0.0,50.766332,1.670178,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,13.35,1A
3,4.90280,0.000366,0.000011,0.0,0.0,0.0,68.933323,2.060576,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,13.36,1A
4,4.90360,0.000527,0.000012,0.0,0.0,0.0,99.512987,2.245429,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,13.36,1A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9741,17.96875,0.000495,0.000016,0.0,0.0,0.0,14.137945,0.453585,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,38.52,3C
9742,17.97125,0.000589,0.000017,0.0,0.0,0.0,16.922766,0.468558,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,38.52,3C
9743,17.97375,0.000488,0.000018,0.0,0.0,0.0,14.091314,0.492912,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,38.52,3C
9744,17.97625,0.000490,0.000017,0.0,0.0,0.0,14.157273,0.470213,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,38.52,3C
9745,17.97875,0.000538,0.000018,0.0,0.0,0.0,15.511869,0.490502,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,38.52,3C

In [13]:
tbpd.iloc[:,:3]

      WAVELENGTH      FLUX  FLUX_ERROR
0        4.90040  0.000198    0.000008
1        4.90120  0.000271    0.000008
2        4.90200  0.000269    0.000009
3        4.90280  0.000366    0.000011
4        4.90360  0.000527    0.000012
...          ...       ...         ...
9741    17.96875  0.000495    0.000016
9742    17.97125  0.000589    0.000017
9743    17.97375  0.000488    0.000018
9744    17.97625  0.000490    0.000017
9745    17.97875  0.000538    0.000018

[9746 rows x 3 columns]

In [28]:
tbpd.iloc[:,-1:]

     Band
0      1A
1      1A
2      1A
3      1A
4      1A
...   ...
9741   3C
9742   3C
9743   3C
9744   3C
9745   3C

[9746 rows x 1 columns]

In [37]:
tb = pd.concat([tbpd.iloc[:,:3], tbpd.iloc[:,-1:]], axis=1)

In [38]:
tb

      WAVELENGTH      FLUX  FLUX_ERROR Band
0        4.90040  0.000198    0.000008   1A
1        4.90120  0.000271    0.000008   1A
2        4.90200  0.000269    0.000009   1A
3        4.90280  0.000366    0.000011   1A
4        4.90360  0.000527    0.000012   1A
...          ...       ...         ...  ...
9741    17.96875  0.000495    0.000016   3C
9742    17.97125  0.000589    0.000017   3C
9743    17.97375  0.000488    0.000018   3C
9744    17.97625  0.000490    0.000017   3C
9745    17.97875  0.000538    0.000018   3C

[9746 rows x 4 columns]

In [39]:
tb.to_csv('WISE1738_reprocessed231123.txt')